@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #bbdefb ,  #90caf9);
  min-height: 100vh;
  color: white;
  font-family: 'Anton SC';
  font-size: 25px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: #ef233c;
  text-align: center;
  margin-bottom: 25px;
  transform: translateY(-90px);
}

.n-vote{
  font-size: 16px;
}

.rveal-b {
  display: flex;
  justify-content: center;
}

button {
  background-color: #fffae5;
  color: #03045e;
  border: 2px dotted;
  padding: 12px 22px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family:  'Boldonse' , sans-serif;
  margin: 25px;
}

button:hover {
  background-color: #6c757d;
}

.account-info {
  position: absolute;
  top: 20px;
  right: 20px;
}

.options-list {
  display: flex;
  justify-content: space-between;
}

.option-item {
  color: #102254;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
